.SearchBox{
	height:"200px";
	max-width:"500px";
	border: '2px solid black';
	padding:"5px";
	background-color:"#10a690";
	border-radius: 2px;
}
.container {
	display: flex; /* Use flexbox */
}

.box {
	width: 50%; /* Each box takes up 50% of the container */
	border: 1px solid #000; /* Optional: Border for visualization */
	box-sizing: border-box; /* Include border in width calculation */
}


.searchButton:hover{
	background-color: #45a049;
  }

.searchButton{
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  .searchForm, select {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }